body {
  background: #F7F8FC;
  font-family: Poppins;
  margin: 0; }

.wrapper {
  max-width: 1089px;
  max-height: 35px;
  margin: 0 auto;
  width: 90%; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 5px; }

.header {
  padding-top: 20px; }

.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px; }

.dash {
  font-size: 24px;
  font-weight: 500;
  color: #192A3E;
  margin: 0; }

.filterbutton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 200px; }

.filter {
  font-size: 12px;
  color: #7B818E;
  cursor: pointer; }

.shared {
  color: #2E6CFE; }

.whitex {
  width: 35px;
  height: 35px;
  background: #0148F5;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 10px rgba(0, 75, 255, 0.24);
  margin-left: 20px; }
  .whitex:hover {
    background: #60C52B;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition-duration: 0.5s; }

.navmenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  border-bottom: 1px solid #F7F9FA; }

.kparsericons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  text-decoration: none; }
  .kparsericons:hover {
    color: blue; }

.buttonkparser {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 900;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  background: url("https://www.nationalgeographic.com/content/dam/news/2018/05/17/you-can-train-your-cat/02-cat-training-NationalGeographic_1484324.jpg");
  background-size: cover; }

.ssilkanav {
  text-decoration: none;
  color: #000000;
  margin-left: 9px; }

.icons {
  margin-left: 10px; }
  .icons:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition-duration: 0.5s; }

.filters_header {
  position: relative; }
  .filters_header:hover .dropdown_menu {
    display: block; }

.dropdown_menu {
  position: absolute;
  display: none;
  font-size: 12px;
  background: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  z-index: 10;
  margin: 0;
  padding: 10px; }
  .dropdown_menu li {
    margin-bottom: 3px; }
    .dropdown_menu li:last-of-type {
      margin-bottom: 0; }
    .dropdown_menu li a {
      color: #2222FA;
      text-decoration: none; }
      .dropdown_menu li a:hover {
        color: #60C52B; }

.maininfo {
  display: flex;
  padding: 20px 30px; }

.all {
  background: #FFFFFF;
  border-radius: 5px; }

.maininfo h2 {
  color: #818E9B;
  font-size: 11px;
  font-weight: 500; }

.kparser {
  font-size: 15px;
  font-weight: 500;
  color: #000000; }

.web {
  width: 20%; }
  .web li {
    display: flex;
    justify-content: flex-end;
    align-items: center; }

.main_percent {
  font-size: 56px;
  font-weight: 500;
  color: #2ED47A; }

.main_percent-statusdown {
  font-size: 15px;
  font-weight: 500;
  color: #DD4C3A; }
  .main_percent-statusdown::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 3.5px 0 3.5px;
    border-color: #DD4C3A transparent transparent transparent;
    display: inline-block;
    vertical-align: middle; }

.rank {
  width: 30%;
  border-right: 1px solid #F7F9FA;
  margin-left: 10px; }
  .rank li {
    display: flex;
    justify-content: flex-end;
    align-items: center; }

.last {
  width: 20%; }

.traffic {
  width: 30%; }
  .traffic li {
    display: flex;
    justify-content: flex-end;
    align-items: center; }

.ranky .greyones {
  font-size: 12px;
  color: #334D6E; }
  .ranky .greyones::before {
    content: "";
    width: 2px;
    height: 2px;
    border-radius: 50%;
    color: transparent;
    border: 2px solid #004BFF;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px; }

.last .greyones {
  font-size: 12px;
  color: #334D6E; }
  .last .greyones::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #F18F1C;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 12px; }

.traffic .greyones {
  font-size: 12px;
  color: #334D6E; }

.errors {
  font-size: 12px;
  color: #DD4C3A; }

.warnings {
  font-size: 12px;
  color: #F4A447; }

.down {
  font-size: 12px;
  color: #DD4C3A; }
  .down::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 3.5px 0 3.5px;
    border-color: #DD4C3A transparent transparent transparent;
    display: inline-block;
    vertical-align: middle; }

.up {
  font-size: 12px;
  color: #42C697; }

.blueone {
  font-size: 12px;
  color: #1FA2F2; }

.navyblueones {
  font-size: 12px;
  color: #004BFF; }

.yellowone {
  font-size: 12px;
  color: #F18F1C; }

.wed {
  font-size: 10px;
  color: #707683; }

.web {
  border-right: 1px solid #F7F9FA; }

.last {
  border-right: 1px solid #F7F9FA;
  margin-left: 10px; }

.traffic {
  margin-left: 10px; }

.ranky li {
  justify-content: flex-end; }
  .ranky li span:first-of-type {
    margin-right: auto; }

.weby li {
  justify-content: flex-end; }
  .weby li span:first-of-type {
    margin-right: auto; }

.lasty li {
  justify-content: flex-end; }
  .lasty li span:first-of-type {
    margin-right: auto; }

.traffics li {
  justify-content: flex-end; }
  .traffics li span:first-of-type {
    margin-right: auto; }

/*# sourceMappingURL=styles-compiled.css.map */
