.maininfo
	display: flex
	padding: 20px 30px
.all
	background: #FFFFFF
	border-radius: 5px
.maininfo h2
	color: #818E9B
	font-size: 11px
	font-weight: 500
.kparser
	font-size: 15px
	font-weight: 500
	color: #000000
.web
	width: 20%
.main_percent
	font-size: 56px
	font-weight: 500
	color: #2ED47A
.main_percent-statusdown
	font-size: 15px
	font-weight: 500
	color: #DD4C3A
.rank
	width: 30%
.last
	width: 20%
.traffic
	width: 30%
.greyones
	font-size: 12px
	color: #334D6E
li::before
	content: ''		
	position: absolute
	left: 20px
	width: 6px
	height: 6px
	background: transparent
	border-radius: 50px
	background: #4ed401
.errors
	font-size: 12px
	color: #DD4C3A
.warnings
	font-size: 12px
	color: #F4A447
.down
	font-size: 12px
	color: #DD4C3A
.up
	font-size: 12px
	color: #42C697
.blueone
	font-size: 12px
	color: #1FA2F2
.navyblueones
	font-size: 12px
	color: #004BFF
.yellowone
	font-size: 12px
	color: #F18F1C
.wed
	font-size: 10px
	color: #707683
ul
	justify-content: flex-end
li
	span
		&:first-of-type
			margin-right: auto
.web
	border-right: 1px solid #F7F9FA
.rank
	border-right: 1px solid #F7F9FA
	margin-left: 10px
.last
	border-right: 1px solid #F7F9FA
	margin-left: 10px
.traffic
	margin-left: 10px