.maininfo
	display: flex
	flex-direction: row
	background: $color-back
	padding: 20px 30px
.all
	background: #FFFFFF
	border-radius: 5px
.web
	width: 20%
.rank
	width: 30%
.last
	width: 20%
.traffic
	width: 30%