$color-button: #0148F5
$color-button2: #60C52B
$color-text-black: #192A3E
$color-text-grey: #7B818E
$color-text-blue: #2E6CFE
$shrift: Poppins

$color-button-nav: #1A2E3B
$color-button-text-nav: #FFFFFF
$color-back: #FFFFFF
$color-ssilka-black: #000000
$color-line: #F7F9FA
$color-ssilka: #2222FA
$color-ssilka2: #60C52B

body
	background: #F7F8FC
	font-family: $shrift
	margin: 0
.wrapper
	max-width: 1089px
	max-height: 35px
	margin: 0 auto
	width: 90%

ul
	list-style-type: none
	padding: 0
	margin: 5px